/* This file contains global styles. It is recommended
  to put all component /page styles in their respective
  .module.css files */

html,
body,
#root {
    height: 100%;
}

#root,
.appContainer {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
    min-width: 360px;
}

body,
.appPageContainer {
    background-color: #17223b;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
}

.appContainer {
    display: flex;
    flex-direction: row;
}

.appContent {
    background-color: #263859;
    width: 100%;
    border-radius: 50px 0 0 50px;
    padding: 20px;
}

.appPageTitle {
    margin-left: 50px;
}

.appPageContainer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
}

@media screen and (max-width: 800px) {
    .appContainer {
        flex-direction: column-reverse;
        height: 100%;
    }

    .appContent {
        border-radius: 0 0 30px 30px;
        height: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }

    .appPageTitle {
        margin-left: 0;
        text-align: center;
    }
}
