/* This file contains global styles. It is recommended
  to put all component /page styles in their respective
  .module.css files */

html,
body,
#root {
    height: 100%;
}

#root,
.appWrapper {
    min-height: 100%;
}

body {
    margin: 0;
    min-width: 360px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #273364;
    color: #fff;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.appWrapper {
    display: flex;
    flex-direction: row;
}

.appPageContainer {
    width: 100%;
    padding: 20px;
    border-radius: 50px 0 0 50px;
    box-shadow: -5px 0px 10px #33333344;
    background-color: #e3e8f4;
    color: #222;
}

.appPageTitle {
    margin-left: 50px;
    text-transform: uppercase;
}

.appPageContent {
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #33333311;
}

@media screen and (max-width: 800px) {
    .appWrapper {
        flex-direction: column-reverse;
        height: 100%;
    }

    .appPageContainer {
        height: 100%;
        width: auto;
        overflow-x: auto;
        overflow-y: auto;
        border-radius: 0 0 30px 30px;
        box-shadow: 0px 5px 10px #33333344;
    }

    .appPageTitle {
        margin-left: 0;
        text-align: center;
    }
}
