# Serve over HTTP because CBR instances are behind a reverse proxy
http://{$DOMAIN}:80 {
    encode gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
    }

    handle /api/* {
        reverse_proxy {$API_HOSTNAME}:8000 {
            # Serve `/var/www-uploads/$PATH` when the backend sends a
            # response with the header `X-Accel-Redirect $PATH`.
            @accel header X-Accel-Redirect *
            handle_response @accel {
                root * /var/www-uploads
                rewrite {http.reverse_proxy.header.X-Accel-Redirect}
                header Cache-Control {http.reverse_proxy.header.Cache-Control}
                header ?Content-Disposition {http.reverse_proxy.header.Content-Disposition}
                file_server
            }
        }
    }

    handle /socket.io/* {
      reverse_proxy {$API_HOSTNAME}:8000
    }

    handle {
        file_server
        root * /var/www

        # If there is a 404, serve index.html (required for React)
        try_files {path} index.html
    }
}
