.btn {
    background-color: #273364; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #273364;
}

.container {
    background-color: #273364;
    color: #fff;
    /* width: 120%; */
    margin: auto;
    overflow: hidden;
    padding: 40px;
    border-radius: 2.5ch;
}

/* Style buttons */

.edit {
    float: right;
    color: #fff;
}
