.container {
    background-color: #fff;
    overflow: hidden;
    padding: 60px;
    border-radius: 2.5ch;
}
.head{
    margin-bottom:50px;
}

.btn {
    background-color: #fff;
    border: none;
    color: #273364;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 1.3ch;
    cursor: pointer;
}

.btn:hover {
    background-color: #273364;
    color: #fff;
}
.edit {
    float: right;
    color: #fff;
}
