.container {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('background.svg');
    background-size: 100% auto;
}

.logo {
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.formContainer {
    max-width: 350px;
    position: absolute;
    right: 8%;
    top: 30%;
}

.formContainer input {
    background-color: rgb(245, 250, 255);
}

.formContainer button {
    color: #222 !important;
    border: none !important;
    background-color: rgb(255, 199, 120) !important;
}

.formContainer button:hover, .formContainer button:focus, .formContainer button:active {
    background-color: rgb(240, 160, 80) !important;
}

@media screen and (max-width: 700px) {
    .logo {
        margin: 0 auto;
    }

    .formContainer {
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}