<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ALERTS | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="container mt-3 mb-3">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.0/socket.io.min.js" integrity="sha512-Glv6RkXN8/6qYtxHIqnBDuD3JV7GiElSbWZK63cUf4sTGMv1AWFepb0Nw0qNSrN+GtxKYkqU8KQlv+SxogIPfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        {% block scripts %}
        {% endblock scripts %}     
  </body>
</html>


