.container {
    background-color: #fff;
    color: #000000;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 2.5ch;
}
.line {
    border: 1px solid grey;
}
.searchBox {
    width: 10%;
    color: #000000;
    float: right;
    clear: both;
}